# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scala
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. Seaborn
6. Keras

Data Science Tools:

1. Juputer
2. Jupyter Lab
3. R Studio
4. Apache Spark
5. Spyder

### Below are a few examples of evaluating arithmetic expressions in Python.

In [19]:
print((3*4)+5)  #This is a simple arithmetic expression to multiply then add integers

17

In [23]:
minutes = 200

print('200 minutes in hours are: \n')

hours = minutes/60     #This will convert 200 minutes to hours by dividing by 60

print(hours, 'hours')

200 minutes in hours are:

3.3333333333333335 hours

#### Objectives:
    . Popular languages for Data Science
    . Tools for Data Science
    . Common libraries for Data Science

## Author

M S L Dheeraj